<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.subtitle != '' %}
          <p class="text-center">
            {% if site.subtitle != '' %}
            {{site.subtitle}}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

            {% if site.github_url != '' %}
              <a href="{{ site.github_url }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>GitHub</button></a>
            {% endif %}
            {% if site.linkedin_url != '' %}
              <a href="{{ site.linkedin_url }}"><button class="btn btn-default btn-lg"><i class="fa fa-medium fa-lg"></i>LinkedIn</button></a>
            {% endif %}

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
